<section class="head">
    <div class="container-fluid overlay-text vh-100 d-flex justify-content-center align-items-center">
        <div data-scrollax-parent="true" class="row d-flex justify-content-center align-items-center" style="height: 793px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <h1 class="mb-4">Lotus Biswas</h1>
                <div class="social-icons">
                    <ul class="d-flex justify-content-center align-items-center">
                        <li><a href="https://in.linkedin.com/in/lotus-biswas-39021a1ab" target="_blank"><img src="https://img.icons8.com/fluency/512/linkedin-2.png" width="30" alt=""></a></li>
                        <li class="mx-3"><a href="https://github.com/dev-lotus" target="_blank"><img src="https://img.icons8.com/ios-filled/512/github.png" width="30" alt=""></a></li>
                        <li><a href="mailto:lotushotmail111@gmail.com"><img src="https://img.icons8.com/color/512/gmail.png" width="30" alt=""></a></li>
                       
                    </ul>
                </div>
              
            </div>
            
        </div>
    </div>
</section>
<app-about></app-about>
<app-education></app-education>
<app-projects></app-projects>
<app-blogs></app-blogs>