<section class="about">
    <div class="container d-flex justify-content-center align-items-center ">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <h2>About Me</h2>
            </div>
            <div class="col-lg-9 col-sm-12">
                <p class="fs-4 bg-black pb-4">
                    I enjoy problem-solving and coding. Always strive to bring 100% to the work I do. I have worked on technologies like Angular, Node.js, Express.js, MongoDB, MySQL, HTML5, CSS during my term in college. I have 2+ yrs of professional work experience which helped me strengthen my experience in MEAN tech stack. I am passionate about developing complex applications that solve real-world problems impacting millions of users.
                </p>
                <p class="fs-4 bg-black pb-4">I am also a Tech Enthusiast, recently, i have built my own 2 startups during college. Do check out my project section below. If anyone is intrested in working along with me or have got a startup idea in mind, do reach out to me, we together will build it.</p>
                <a href="../../../assets/files/Lotus Biswas Rezume.pdf" target="_blank" class="btn btn-success btn-lg fs-5">My Resume</a>
            </div>
        </div>

    </div>
</section>