<section class="about py-5">
    <div class="container d-flex justify-content-center align-items-center ">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <h2>About Me</h2>
            </div>
            <div class="col-lg-9 col-sm-12">
                <p class="fs-4 bg-black pb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, debitis omnis
                    reprehenderit dolores consequuntur eius. Suscipit aut, labore iusto quas quae quasi, assumenda
                    dolorum, dolores dignissimos cum dolore impedit nostrum! Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit. Dolores eaque accusamus mollitia natus eveniet quos reprehenderit itaque sint vel
                    adipisci, quam veniam. Aut exercitationem rem velit consequuntur sunt, nam soluta? Lorem ipsum dolor
                    sit amet consectetur, adipisicing elit. Quasi, expedita delectus unde quibusdam qui fuga magni nam
                    omnis fugiat obcaecati ea molestias, magnam est? Amet deleniti enim ab error illum.</p>

                <a href="" class="btn btn-success btn-lg">My Resume</a>
            </div>
        </div>

    </div>
</section>