<section class="blogs bg-black-clr">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <h2 class="pb-lg-0 pb-4">Blogs</h2>
            </div>
            <div class="col-lg-9 col-sm-12">

                <div class="row row-cols-1 row-cols-md-1 g-4">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-between ">

                                    <div class="col-lg-1 col-12 ">
                                        <h3>01</h3>
                                    </div>
                                    <div class="col-lg-8 col-12">
                                        <p class=" fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                        <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Officiis
                                            sint itaque
                                            tenetur deserunt nam, id odit, temporibus fugit dolorem autem laborum ullam
                                            labore quis ex? Porro ad a labore qui.</p>
                                    </div>
                                    <div class="col-lg-3 col-12 d-flex align-items-lg-center justify-content-lg-center">
                                        <a href="" class="btn btn-success mt-lg-0 mt-3">Read More <span><i
                                                    class="fa fa-external-link" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row d-flex justify-content-between ">

                                    <div class="col-lg-1 col-12 ">
                                        <h3>02</h3>
                                    </div>
                                    <div class="col-lg-8 col-12">
                                        <p class=" fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                                        <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            Officiis
                                            sint itaque
                                            tenetur deserunt nam, id odit, temporibus fugit dolorem autem laborum ullam
                                            labore quis ex? Porro ad a labore qui.</p>
                                    </div>
                                    <div class="col-lg-3 col-12 d-flex align-items-lg-center justify-content-lg-center">
                                        <a href="" class="btn btn-success mt-lg-0 mt-3">Read More <span><i
                                                    class="fa fa-external-link" aria-hidden="true"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</section>