<header class="navbar-custom sticky-top p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-light text-decoration-none logo">
        <img src="https://appointly.netlify.app/assets/images/LogoWhiteBlack.svg" width="70%" alt="">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-text"><span id="number-nav">01.</span>About</a></li>
        <li><a href="#" class="nav-link px-2 link-text"><span id="number-nav">02.</span>Experience</a></li>
        <li><a href="#" class="nav-link px-2 link-text"><span id="number-nav">03.</span>Work</a></li>
        <li><a href="#" class="nav-link px-2 link-text"><span id="number-nav">04.</span>Contact</a></li>
      </ul>



      <div class="resume-button">
        <button class="btn btn-outline-custom" type="submit">Resume</button>
      </div>
    </div>
  </div>
</header>
