<section class="work">
    <div class="container d-flex justify-content-center align-items-center ">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <h2>Experience</h2>
            </div>
            <div class="col-lg-9 col-sm-12 fs-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                          
                            <div class="col-lg-12 col-md-12 col-12 ">
                                <p class="fw-bold fs-4">Web Developer <span class="small-text">(Jan 2021 - Present)</span></p>
                                <p class="fs-5">REI Property Invest</p>
                              <ul class="mt-3">
                                <li>Worked with Twilio and NodeJS to develop an entire ChatBot automation integrating WhatsApp with Podio
                                    which increased the customer service by 90% and improved the efficiency by over 95%.</li>
                                    <li>Collabrating and developed a KPI Tracker product an analytical dashboard using Angular, Chart.js and RESTful API
                                        which increased the analytical efficiency of the company’s Podio client’s by over 80%.</li>
                                <li>Utilized Angular, Responsive Web Design and RESTful API to develop 10+ original business websites encompassing
                                    design, coding, testing and maintenance.</li>
                                    </ul>
                            </div>
                           

                        </div>

                    </div>
                   
                </div>


            </div>
        </div>

    </div>
</section>