<section class="project">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <h2 class="pb-lg-0 pb-4">Projects</h2>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="row row-cols-1 row-cols-md-2 g-4 ">
                    <div class="col">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title fs-4">Share & Care <span><a href=" "><i class="fa fa-link"
                                                aria-hidden="true"></i></a></span></h5>
                                <p class="card-text fs-5">Give & get free stuff and borrow & lend household items all directly from your community. Fight waste. Help your neighbors. </p>
                                <a href="https://github.com/dev-lotus/share-and-care" target="_blank" class="btn btn-success mt-3">Learn More <span><i class="fa fa-external-link"
                                            aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title fs-4">RequestTalk <span><a href="https://requesttalk.netlify.app/" target="_blank"><i class="fa fa-link"
                                                aria-hidden="true"></i></a></span></h5>
                                <p class="card-text fs-5">Calendly is automated scheduling software that has been designed to make that process of finding meeting times easy. </p>
                                <a href="https://github.com/dev-lotus/RequestTalk" target="_blank" class="btn btn-success mt-3">Learn More <span><i class="fa fa-external-link"
                                            aria-hidden="true"></i></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>