<section class="education bg-black-clr">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <h2 class="pb-lg-0 pb-4">Education</h2>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-12 pb-md-0 pb-3">
                                <img src="../../../assets/img/uu_college.jfif" width="50px" alt="" class="">
                            </div>
                            <div class="col-lg-7 col-md-7 col-12 ">
                                <p class="fw-bold fs-4">Uttaranchal University</p>
                                <p class="fs-5">Master of Computer Applications</p>
                                <p  class="fs-5">Grade : CGPA - 8.70</p>

                            </div>
                            <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-md-end">
                                <p class="clr-light fs-5">(Aug 2021 – Jun 2023)</p>
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-12 pt-5">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-12 pb-md-0 pb-3">
                                <img src="../../../assets/img/uu_college.jfif" width="50px" alt="">
                            </div>
                            <div class="col-lg-7 col-md-7 col-12">
                                <p class="fw-bold fs-4">Uttaranchal University</p>
                                <p class="fs-5">B.Sc. Information Technology</p>
                                <p class="fs-5">Grade : CGPA - 9.58</p>

                            </div>
                            <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-md-end">
                                <p class="clr-light fs-5">(Aug 2018 – Jun 2021)</p>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>