<section class="education py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <h2>Education</h2>
            </div>
            <div class="col-lg-9 col-sm-12 fs-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1">
                                <img src="../../../assets/img/uu_college.jfif" width="60px" alt="">
                            </div>
                            <div class="col-lg-6">
                                <p class="fw-bold">Uttaranchal University</p>
                                <p>Master of Computer Applications</p>  
                                <p>Grade : CGPA - 8.70</p>
                           
                            </div>
                            <div class="col-lg-4">
                                <p class="clr-light">(Aug 2021 – May 2023)</p>
                            </div>
                           
                        </div>
                       
                        </div>
                  
                </div>

               
            </div>
        </div>
    </div>
</section>