* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* @import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:wght@300&family=Scada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
.outer {
    width: 100%;
    min-height: 100vh;
    background-color: #0a192f;
    color: #8892b0;
    font-size: 20px;
    line-height: 1.3;
    padding: 20px;
    position: relative;
    justify-content: center;

}
.gmail-name{

    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;  
}

.gmail-name span{

    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    
    font-size: 16px;
    
    font-family: 'Fira Code', monospace;
    
}
.gmail-name a {
    margin: 20px auto;
    padding: 10px;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-decoration: none;
    
    color: #a8b2d1;  
}
.gmail-name span::after{
   
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;  ;
  
}



.socail-link{

    width: 40px;
    position: fixed;
    bottom: 0px;
    right: auto;
    left: 40px;
    z-index: 10;  
}

.socail-link span{

    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    
    font-size: 16px;
    
    font-family: 'Fira Code', monospace;
    
}

.socail-link ul {

    list-style-type: none;
}
.socail-link li {
    margin: 20px auto;
    font-family: 'Fira Code', monospace;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-decoration: none;
    padding-bottom: 10px;
   
}
.socail-link i {
 
    color: #a8b2d1; 
    transition: 0.3s;
  
}
.socail-link i:hover {
    transform: translate(0, -5px);
}
.socail-link span::after{
   
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #a8b2d1;  ;
  
}

@media screen and (max-width:768px) {
    .socail-link{
    display: none;
    }
    .gmail-name{
display: none;
    }
}

.main-head {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 0px;
}

.main-head h3 {
    font-size: 18px;
    color: #64ffda;
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    font-weight: 200;
}

.main-head h1 {
    font-size: 61px;
    margin-top: 10px;
    font-family: 'Scada', sans-serif;

}

.main-head #name {
    color: #ccd6f6;
}

.main-head p {
    font-size: 18px;
    margin: 20px 0 0;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    line-height: 1.8;
}

.main-head .get-in-touch a {
    margin: 50px 0 0 0;
    padding: 16px 25px;
    background-color: transparent;
    border: 1px solid #64ffda;
    font-size: 18px;
    color: #64ffda;
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: 5px;
    transition: 0.8s;
    position: absolute;
    text-decoration: none;
}

.main-head .get-in-touch a:hover {
    background-color: #64ffdb2d;
}

@media screen and (max-width:1024px) {
    .main-head {
        width: 80%;
    }
}


@media screen and (max-width:768px) {
    .main-head {
        width: 90%;
    }
}

@media screen and (max-width:480px) {

    .main-head {
        width: 100%;
    }

    .main-head p {
        width: 100%;
        font-size: 14px;
    }

    .main-head h1 {
        font-size: 35px;

    }
}

/* ABOUT ME */

.section-outer {
    width: 100%;
    min-height: 100vh;
    background-color: #0a192f;
    color: #8892b0;
    font-size: 20px;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.content-type {

    width: 65%;
    margin: 40px auto;
}

.content-type h3 {
    color: #ccd6f6;
    font-size: 32px;

    font-family: 'Scada', sans-serif;
}

.content-type h3::after {
    background-color: greenyellow;
    content: " ";
    height: 1px;
    position: absolute;
    width: 2.5rem;
    margin: 20px;
}

.about {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    width: 65%;
    margin: 0 auto;
}

#topic-head {

    font-size: 25px;
    color: #64ffda;
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    font-weight: 200;
}

#hr-line {
    content: "";
    display: block;
    position: relative;
    top: 20px;
    left: 190px;
    width: 250px;
    height: 1px;
    margin-left: 20px;
    background-color: greenyellow;

}

h3 {
    font-size: 32px;
    font-family: 'Scada', sans-serif;
}

.in-short-me p {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    line-height: 1.8;
    text-align: justify;
}

.in-short-me ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    position: relative;
}

ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

ul.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #64ffda;

}

.my-image {
    position: relative;
    margin: 20px 0 0;

}


.my-image img {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
    transition: 0.3s;
}

.my-image img:hover {
    filter: none;
    transform: translate(0, -10px);
}

.my-image .my-image-outer-rect {
    position: absolute;
    border: 3px solid #64ffda;
    width: 300px;
    height: 300px;
    top: 15px;
    left: 15px;
    z-index: 1;

}



@media screen and (max-width:1024px) {
    .about {
        width: 80%;
    }

    .content-type {
        width: 80%;
    }



}


@media screen and (max-width:768px) {
    .about {
        display: block;
        width: 90%;
    }

    .content-type {
        width: 90%;
    }

    .my-image {
        top: 50%;
        left: 50%;
        height: 30%;
        width: 50%;
        margin: 10px 0 0 -25%;
    }

    #hr-line {
        width: 100px;

    }

}

@media screen and (max-width:480px) {
    .my-image {

        margin: 40px 0 0 -35%;
    }

    .my-image img {
        width: 200px;
        height: 200px;
    }

    .my-image .my-image-outer-rect {

        width: 200px;
        height: 200px;
    }

    .about {
        width: 100%;
    }

    .content-type {
        width: 100%;
    }
}



@media screen and (max-width:300px) {
    .my-image {

        margin: 10px 0 0 -45%;
    }
}


/* Experience */

.experience {
   width: 65%;
   margin: 0 auto;
}

.experience-one {
    margin: 0 0 40px 0;
}
.experience-one p {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    line-height: 1.8;
    text-align: justify;
}

.experience-one h3{
    font-size: 18px;    
    color: #ccd6f6;
}

.experience-one h3 .company{
    color: #64ffda;
    font-weight: 500;
}

.experience-one h3 a{
    color: #64ffda;
    text-decoration: none;
    font-weight: 800;
}


.experience-one ul.responsibilities {
     padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    position: relative;
}

ul.responsibilities li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Space Mono', monospace;
  
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}

ul.responsibilities li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #64ffda;

}


@media screen and (max-width:1024px) {
    .experience {
        width: 80%;
    }

    .content-type {
        width: 80%;
    }



}


@media screen and (max-width:768px) {
    .experience {
        display: block;
        width: 90%;
    }

    .content-type {
        width: 90%;
    }

    #hr-line {
        width: 100px;

    }

}

@media screen and (max-width:480px) {
    

    .experience {
        width: 100%;
    }

    .content-type {
        width: 100%;
    }
}


/* Project */


.project-about {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 65%;
    margin: 30px auto;
    position: relative;
}

#hr-line-projects {
    content: "";
    display: block;
    position: relative;
    top: 20px;
    left: 390px;
    width: 250px;
    height: 1px;
    margin-left: 20px;
    background-color: greenyellow;
}


.project-about .project-left img {
    border-radius: 5px;
}

.project-about .project-right {
    text-align: right;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-left: -100px;
}


.project-about .project-right .content .up-content {
    margin: 0px 0px 20px;
}

.project-about .project-right .content .up-content #featured-project {
    font-size: 18px;
    color: #64ffda;
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    font-weight: 200;
}

.project-about .project-right .content .up-content #project-name {

    color: #ccd6f6;
    font-size: 18px;
    font-family: 'Scada', sans-serif;
}

.project-about .project-right .content .up-content a {
    text-decoration: none;
}


.project-about .project-right .content .middle-content {
    background-color: #112240;
    padding: 20px;
    font-size: 16px;
    margin: 0 0 20px;
    font-family: 'Space Mono', monospace;
    line-height: 1.8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.project-about .project-right .content .middle-content:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



.project-about .project-right .content .down-content p {
    font-size: 16px;

    margin: 0 0 20px 0;
    font-family: 'Fira Code', monospace;
    line-height: 1.8;
}

.project-about .project-right .content .down-content span {
    padding-left: 10px;
}

.project-right .project-links {
    margin: 0 0 20px 0;
}

.project-right .project-links li {
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    font-size: 20px;
}

.project-right .project-links i {
    color: rgba(255, 255, 255, 0.801);
    transition: 0.3s;
}

.project-right .project-links i:hover {
    color: #64ffda;
    transform: translate(0, -5px);
   
}

/* EVen */


.project-about .project-right-even img {
    border-radius: 5px;
}

.project-about .project-left-even {
    text-align: left;
    display: grid;
    justify-content: center;
    align-content: center;

}

.project-about .project-left-even .content .up-content {
    margin: 0px 0px 20px;
}

.project-about .project-left-even .content .up-content #featured-project {
    font-size: 18px;
    color: #64ffda;
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    font-weight: 200;
}

.project-about .project-left-even .content .up-content #project-name {

    color: #ccd6f6;
    font-size: 18px;
    font-family: 'Scada', sans-serif;
}

.project-about .project-left-even .content .up-content a {
    text-decoration: none;
}


.project-about .project-left-even .content .middle-content {
    background-color: #112240;
    padding: 20px;
    font-size: 16px;
    margin: 0 0 20px;
    font-family: 'Space Mono', monospace;
    line-height: 1.8;
    margin-right: -100px;
    position: relative;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.project-about .project-left-even .content .middle-content:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}




.project-about .project-left-even .content .down-content p {
    font-size: 16px;

    font-family: 'Fira Code', monospace;
    line-height: 1.8;
    margin: 0 0 20px 0;
}

.project-about .project-left-even .content .down-content span {
    padding-right: 10px;

}

.project-left-even .project-links {
    margin: 0 0 20px 0;
}

.project-left-even .project-links li {
    list-style-type: none;
    display: inline;
    padding-right: 15px;
    font-size: 20px;
}

.project-left-even .project-links i {
    color: rgba(255, 255, 255, 0.801);
    transition: 0.3s;
}

.project-left-even .project-links i:hover {
    color: #64ffda;
    transform: translate(0, -5px);

}



@media screen and (max-width:1024px) {

    .project-about {
        width: 80%;
    }

    .project-left img {
        width: 100%;
    }

    .project-right-even img {
        width: 100%;
    }
}



@media screen and (max-width:768px) {
    .content-type h3 {
        font-size: 20px;
    }

    #hr-line-projects {
        left: 255px;
        width: 100px;
    }

    .project-about {
        width: 90%;
    }

}

@media screen and (max-width:540px) {
    .project-about {
        grid-template-columns: 1fr;
    }

    .project-about .project-right {
        margin-left: 0px;
    }

    .project-about .project-left-even .content .middle-content {
        margin-right: 0px;
    }

    .project-about .project-right-even {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-row-start: 1;
        margin: 0 0 20px;
    }

    .project-about .project-left img {
        margin: 0 0 20px;
    }
}


@media screen and (max-width:480px) {
    .project-about {
       width: 100%;
    }

}
/* Contact */

.contact {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .up-contact-content {
    margin: 0 0 20px;
}

.contact .up-contact-content p {
    font-size: 18px;
    color: #64ffda;
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 0 0 10px;
}


.contact .up-contact-content h1 {
    font-size: 51px;
    margin-top: 10px;
    font-family: 'Scada', sans-serif;

    color: #ccd6f6;
}

.contact .middle-contact-content {
    margin: 0 0 30px;
}

.contact .middle-contact-content p {

    line-height: 1.8;

    font-size: 16px;
    margin: 0 0 20px;
    font-family: 'Space Mono', monospace;
   
}


.contact .down-contact-content .get-in-touch a {
    padding: 16px 25px;
    background-color: transparent;
    border: 1px solid #64ffda;
    font-size: 18px;
    color: #64ffda;
    font-family: 'Fira Code', monospace;
    letter-spacing: 1px;
    font-weight: 200;
    border-radius: 5px;
    transition: 0.8s;
    text-decoration: none;
}

.contact .down-contact-content .get-in-touch a:hover {
    background-color: #64ffdb2d;
}

@media screen and (max-width:1024px) {

    .contact {
        width: 60%;
    }
}

@media screen and (max-width:768px) {

    .contact {
        width: 70%;
    }
}

@media screen and (max-width:540px) {

    .contact {
        width: 100%;
    }
}



@media screen and (max-width:480px) {



    .contact .up-contact-content h1 {
        font-size: 35px;
    }
}

/* Footer */

footer {
    font-size: 12px;
    font-family: 'Fira Code', monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 20px;
}




footer ul {

    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer li {
    font-family: 'Fira Code', monospace;
    font-size: 22px;
    line-height: 18px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    text-decoration: none;
    display: inline-block;
    
    padding: 20px;
}

footer i {
 
    color: #a8b2d1; 
    transition: 0.3s;
}

footer i:hover {
    transform: translate(0, -5px);
}

@media screen and (min-width:769px) {
footer{
    display: none;
}
}



/* Scroll Bar */


/* width */
::-webkit-scrollbar {
    width: 6px;

    background-color: #0a192f;
}


/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #8f9ab975;
}