/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


.bg-black-clr{
    background: #0d1116;
}
.clr-light{
    color: rgba(0, 0, 0, 0.564);
}

h2{
    color:#e07676;
    font-size: 50px;
    text-transform: uppercase;
}
p {
    text-align: justify;
    margin-bottom: 0 !important;
} 
